<?xml version="1.0" encoding="UTF-8"?>
<!--
 ALL > TRACE > DEBUG > INFO > WARN > ERROR > FATAL >  OFF
-->
<Configuration status="DEBUG">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5p %l - %msg%n"/>
        </Console>
    </Appenders>


    <Loggers>

        <Logger name="org.apache.flink.runtime.heartbeat" level="INFO" />
        <Logger name="org.apache.flink.runtime.io.network" level="ERROR"/>
      <!--
        <Logger name="org.apache.flink.runtime.heartbeat.HeartbeatManagerSenderImpl" level="ERROR"/>-->
        <Logger name="spendreport" level="INFO"/>

        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>